<div class="community_header">
	<div class="info">
		<h2 class="title">{{community.name}}</h2>
		<h4 clsss="description">{{community.description}}</h4>
	</div>
	<div class="action_bar">
		<navback></navback>
		<select ng-init="playersort = AlienPlayer.sorts[2]" ng-model="playersort" ng-options = "sort.title for sort in AlienPlayer.sorts">
		</select>

		<button class="btn btn-primary" ng-click="AlienPlayer.load(community.name,playersort.val)">
			Play Community
		</button>
	</div>
</div>

<div class="row community_content">
	<div class="col-sm-9 tracklist">
		<table class="table table-bordered" >
			<tr ng-repeat="track in community.tracks">
				<td>{{track.title}}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-3">
		<h4>Sources</h4>
		<div ng-repeat="source in community.sources">{{source.title}}</div>
		<div ng-hide="community.sources.length > 0">No Sources Found</div>
	</div>
</div>